/*RESETS*/
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-weight: 400;
    font-style: normal;
}
a,
a:active,
a:hover,
a:visited {
    text-decoration: none;
}

header {
    background-color: #273273;
}

#login {
    float: right !important;
}

.subnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #273273;
}

.subnav li {
    float: left;
}

.subnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.subnav li a:hover {
    background-color: #75B8BF;
}

body {
    background-color: #ffffff;
}

#maisvendidos {
    padding-top: 20px;
}

.bg-dark {
    background-color: #273273 !important;
}

.navbar-brand {
    color: white !important;
}

section {
    flex-wrap: wrap;
    justify-content: space-between;
}

footer {
    width: 100vw;
    background-color: #273273 !important;
}

#carrosel {
    display: none;
}

#footer {
    background-color: #273273 !important;
    color: white;
    width: 100%;
    margin: auto;
}

#produto {
    text-align: left;
    font-size: 1.2em;
    color: rgb(39, 39, 39);
}
#preco{
    text-align: left;
    font-size: 1.5em;
    color: #000;
}

#footer a {
    color: white;
}

.card {
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
}

.avancar{
    transition: all 0.3s ease-in-out
}

.avancar:hover{
    transform: scale(1.05);
    box-shadow: #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#politicas {
    background-color: #ededed;
}
#privacidade {
    padding-top: 15px !important;
    padding-bottom: 10px !important;
}

#table {
    overflow-x:auto !important;
}
#institucional {
    margin-top: 35px !important;
    padding-top: 15px;
    background-color: #ededed;
}

#historia {
    margin-top: 0 !important;
}

@media only screen and (min-width: 425px) {
    .subnav {
        max-width: 1140px;
        margin: auto;
    }

    #carrosel {
        display: inherit;
    }
    #institucional {
        max-width: 1140px;
        margin: auto;
    }
}
