/*RESETS*/
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth	;
    box-sizing: border-box;
}
#redonda {
    margin-bottom: 20px;
    border-radius: 45%;
    height: 150px;
    /* widows: 70%; */
    justify-content: row space-between !important;
}
.bg-dark{
    background-color: #273273 !important;
}
.navbar-brand{
    color: white !important;
}
section {
    flex-wrap: wrap;
    justify-content: space-between;
}
footer{
    width: 100vw;
}
#carrosel{
    display: none;
}
#footer{
    background-color: #273273 !important;
    color: white;
}
#footer a{
    color: white;
}
@media only screen and (min-width: 425px) {
    #carrosel{
        display: inherit;
    }
  } 